*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background: rgb(125, 157, 156);
  color: rgb(125, 157, 156);
}
#header{
  width: 100%;
  height: 100vh;
}
.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: rgb(240, 235, 227);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: rgb(228, 220, 207);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%; 
}
.header-text{
  margin-top: 20%;
  font-size: 30px;
  color: rgb(240, 235, 227);
}
.header-text h1{
  margin-top: 20px;
  font-size: 60px;
  color: rgb(240, 235, 227);
}
.header-text h1 span{
  color: rgb(240, 235, 227);
}

/*--------about--------*/
#about-me{
  padding: 80px 0;
  color: rgb(240, 235, 227);
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
}
.about-col-1 img{
  width: 100%;
  border-radius; 15px;
}
.about-col-2{
  flex-basis: 60%;
}
.subtitle{
  font-size: 60px;
  font-weight: 600;
  color:rgb(240, 235, 227); 
}
.tabtitle{
  display: flex;
  margin: 20px 0 40px;
}
.tablink{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tablink::after{
  content: '';
  width: 0;
  height: 3px;
  background: rgb(228, 220, 207);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tablink.activelink::after{
  width: 50%;
}
.tabcontent ul{
  list-style: none;
  margin: 10px 0;
}
.tabcontent ul li span{
  color: rgb(87, 111, 114);
  font-size: 18px;
}
.tabcontent{
  display: none;
}
.tabcontent.activetab{
  display: block;
}

/*---------------portfolio----------------*/
#portfolio{
  padding: 30px 0;
}
.portfolio-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1));
  grid-gap: 40px;
  margin-top: 50px;
}
.portfolio-list div{
  background: rgb(87, 111, 114);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.portfolio-list h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.portfolio-list div:hover{
  background: rgb(240, 235, 227);
  transform: translateY(-10px);
}
/*---------------contact----------------*/
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.contact-left {
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 20px;
  color: rgb(240, 235, 227); 
  font-size: 18px;
}

.contact-left p i {
  color: rgb(87, 111, 114); 
  margin-right: 10px; 
  font-size: 24px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  font-size: 24px;
  margin-right: 15px;
  color: rgb(87, 111, 114); 
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.social-icons a:hover {
  color: rgb(87, 111, 114); 
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  padding: 10px 15px; 
  font-size: 18px;
  background-color: rgb(228, 220, 207);
  color: rgb(87, 111, 114);
  border: 1px solid rgb(87, 111, 114); 
  border-radius: 5px; 
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btn.btn2:hover {
  transform: translateY(-3px);
}

.contact-right {
  flex-basis: 60%;
  background-color: rgb(240, 235, 227); 
  border-radius: 8px;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 1px solid transparent; 
  outline: none;
  background: rgb(240, 235, 227); 
  padding: 15px;
  color: rgb(87, 111, 114); 
  font-size: 18px;
  border-radius: 8px;
  margin-bottom: 15px; 
}

form .btn2 {
  padding: 14px 30px; 
  font-size: 18px;
  background-color: rgb(228, 220, 207); 
  color: rgb(87, 111, 114); 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form .btn2:hover {
  background-color: rgb(228, 220, 207);
}